[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djoser = "*"
python-decouple = "*"
djangorestframework = "*"
psycopg2 = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django = "*"
django-cleanup = "*"
gunicorn = "*"
pip = "*"

[dev-packages]

[requires]
python_version = "3.11"
