---
// Component imports
import Layout from "@layouts/Layout.astro"
---

<Layout title="Aguilas Emaus">
	<!-- <section class=""> -->
	<!-- Welcome -->
	<!-- <h2>Dashboard</h2> -->
	<!-- </section> -->
</Layout>
